@keyframes button-cart {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(110px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dropdown-menu {
    0% {
        opacity: 0.5;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes login-change-tab {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-460px);
        display: none;
    }
}

@keyframes login-back {
    0% {
        transform: translateX(-460px);
    }

    100% {
        transform: translateX(0);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #444444;
}

.nav-search {
    display: block;
    width: 100%;
}

.search-box {
    display: block;
    width: 100%;
    border: none;
    margin-left: 4%;
    background-color: #fafafa;
}

.search-box:focus {
    background-color: #fafafa;
}

.search-border {
    border: 1px solid #666666;
    border-radius: 50px;
    background-color: #fafafa;
    width: 70%;
}

.btn-search {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #66666600;
    color: #666666;
    border: none;
    border-radius: 50%;
}

.btn-search:hover {
    background: #666666;
}

.btn-user {
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.btn-cart {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #FFFFFF;
    position: relative;
}

.btn-cart-text {
    margin-right: 25%;
}

.fa-cart {
    color: #6c757d;
    position: absolute;
    left: 10px;
}

.cart-notification {
    position: absolute;
    top: 0;
    left: 30px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #ff0f0f;
}

.cart-notification span {
    position: absolute;
    top: 2px;
    left: auto;
    right: auto;
    font-size: small;
}

.btn-cart:hover .fa-cart,
.btn-cart:hover .cart-notification {
    color: #FFFFFF;
    animation: button-cart 1s;
    animation-fill-mode: forwards;
}

.btn-cart:hover .btn-cart-text {
    animation: fadeIn 2s;
}

#dropdown-icon {
    color: #666666;
}

.px-0 {
    padding: 0;
}

#navbarScrollingDropdown {
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}

.icon-hov:hover #dropdown-icon {
    color: #414141;
    cursor: pointer;
}

.dropdown-menu {
    animation: dropdown-menu 0.6s;
}


.nav-items {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: #666666;
}

.active {
    color: #000000;
}

.modal-content {
    font-family: 'kanit';
    max-width: 500px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-body {
    position: relative;
    overflow: hidden;
    height: 310px;
}

.modal-footer {
    border-top: 0 none;
}

.btn-login-menu {
    width: 90% !important;
    height: 50px !important;
    border-radius: 30px !important;
    font-size: calc(60% + 1.1vmin) !important;
}

.login-modal-link {
    color: #437fda;
}

.login-modal-link:hover {
    color: #0a4397;
}

.google-login {
    font-family: 'kanit' !important;
}

#cart-modal {
    position: absolute;
    top: -30%;
    right: -30%;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}

.login-button-tab {
    position: absolute;
    left: 15px;
    right: 15px;
}

.login-button-pass {
    position: absolute;
    left: 15px;
    right: 15px;
    animation: login-change-tab 0.7s;
    animation-fill-mode: forwards;
}

.login-button-back {
    animation: login-back 0.7s;
    animation-fill-mode: forwards;
}

.login-form-tab {
    position: absolute;
    top: 16px;
    left: 500px;
    width: 83%;
}

.login-form-pass {
    position: absolute;
    top: 16px;
    left: 500px;
    width: 83%;
    animation: login-change-tab 0.7s;
    animation-fill-mode: forwards;
}

.login-form-back {
    position: absolute;
    top: 16px;
    left: 500px;
    width: 83%;
    animation: login-back 0.7s;
    animation-fill-mode: forwards;
}

.modal-back-button {
    cursor: pointer;
    color: #878a8d;
}

.modal-back-button:hover {
    color: #000000;
}

.submit-login-button {
    width: 170px;
    border-radius: 40px;
}

@media (max-width: 420px) {
    .login-form-tab {
        width: 80%;
    }
    
    .login-form-pass {
        width: 80%;
    }
    
    .login-form-back {
        width: 80%;
    }
}

@media (max-width: 360px) {
    .login-form-tab {
        width: 75%;
    }
    
    .login-form-pass {
        width: 75%;
    }
    
    .login-form-back {
        width: 75%;
    }
}