@font-face {
    font-family: "kanit";
    src: local("kanit"), url('./assets/fonts/kanit/KANIT-REGULAR.TTF') format("truetype");
}

@font-face {
    font-family: "kanit-light";
    src: local("kanit-light"), url('./assets/fonts/kanit/KANIT-LIGHT.TTF') format("truetype");
}

@font-face {
    font-family: "kanit-extra-light";
    src: local("kanit-extra-light"), url('./assets/fonts/kanit/KANIT-EXTRALIGHT.TTF') format("truetype");
}

.root {
    font-family: 'kanit';
}

/* input:focus,
select:focus,
textarea:focus, */
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-title,
.swal2-html-container,
.swal2-confirm,
.swal2-cancel {
    font-family: 'kanit' !important;
    box-shadow: none !important;
}

.swal2-title {
    font-size: 26px !important;
}

.footer-margin {
    margin-top: 5%;
    margin-bottom: 5%;
}